body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #2e2e2e;
    padding: 40px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    height: 400px; /* Further reduced height */
}



.input-group {
    margin-bottom: 15px; /* Reduced margin */
    position: relative;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
    font-size: 0.9em; /* Reduced font size */
}

label span {
    color: #ff4d4d; /* Reddish color for the asterisk */
}

input {
    width: 100%; /* Ensured the inputs have the same width */
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #232323; /* Closer grey to the background */
    color: #ddd;
    font-size: 0.9em; /* Reduced font size */
    box-sizing: border-box;
}

input:focus {
    border-color: #666;
    outline: none;
}

input::placeholder {
    color: #888;
}

.no-account-message {
    color: #56C0DA;
    font-size: 0.9em; /* Reduced font size */
    margin-bottom: 15px; /* Margin below the message */
    text-align: center;
    position: left;
}
.credits {
    color: #56C0DA;
    font-size: 0.6em; /* Reduced font size */
    margin-bottom: 9px; /* Margin below the message */
    text-align: left;
    position: bottom;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 35px;
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-size: 1.2em;
    visibility: visible; /* Made the eye button always visible */
}

.login-button {
    width: 100%; /* Ensured the button has the same width as the inputs */
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #232323; /* Match the background color */
    color: #fff;
    cursor: pointer;
    font-size: 0.9em; /* Reduced font size */
    box-sizing: border-box;
    margin-top: 20px; /* Added margin to lower the button */
}

.login-button:hover {
    background-color: #3a3a3a;
}
