body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c2c2c;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.login-header .fingerprint-icon {
    width: 50px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    color: #ddd;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #ddd;
}

input:focus {
    border-color: #666;
    outline: none;
}

.required {
    color: red;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 35px;
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-size: 1em;
}

.links {
    margin: 10px 0;
}

.register-link {
    color: #1e90ff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.login-button:hover {
    background-color: #1c86ee;
}
