body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #2e2e2e;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    height: 500px; /* Make the box taller */
}

.login-header .fingerprint-icon {
    width: 100px;
    filter: grayscale(100%);
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

input {
    width: 100%; /* Ensure the inputs have the same width */
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1c1c1c;
    color: #ddd;
    font-size: 1em;
    box-sizing: border-box;
}

input:focus {
    border-color: #666;
    outline: none;
}

input::placeholder {
    color: #888;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 35px;
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-size: 1.2em;
    visibility: visible; /* Always visible */
}

.login-button {
    width: 100%; /* Ensure the button has the same width as the inputs */
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #181818; /* Match the background color */
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    box-sizing: border-box;
}

.login-button:hover {
    background-color: #3a3a3a;
}
